body{
    background: #a2c1d5 !important;
    background-repeat:no-repeat;
}

chartcolors{
    /*Colors for Chart items - for reference*/
    color:#737373;
    color:#F15A61;
    color:#7CC26A;
    color:#5D9AD1;
    color:#FAA759;
    color:#9F66AB;
    color:#CE7057;
    color:#D77EB4;
}

.panel.panel-default{
    box-shadow:2px 2px 10px ;
}
.panel-heading{
    background:#def2ff !important;
    display: flex;
    justify-content: space-between;
    font-weight:bold;
    font-size:1.5em;
}

#refresh-btn img{
    height:20px;
}


.navbar-inverse{
    background:#2d6ba0 !important;
    color:#aaa !important;
}

.navbar-inverse *{
    color:#eee !important;
}

#scorecard-datatable{
    background:#fff;
}

#score-card-table>thead>tr{
    background:#5f9dd3;
    color:#eee;
}

.dropdown, .dropup {
    position: relative;
    display: inline;
}